.box-head:after, .col2-set:after, .box:after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.content h1{
    text-align: center;
}
.account-center .navigation{
    width: 20%;
    float: left;
    margin-right: 20px;
}
.nav-title{
    border: 1px solid #f0f0f0;
    background-color: #3c8dbc;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
}
.account-center .nav-contain{
    border: 1px solid #f0f0f0;
    border-top: none;
}
.account-center .nav-contain .nav{
    border-bottom: 1px solid #f0f0f0;
    padding: 15px;
}
.nav a{
    color: #555;
}
.nav strong{
    text-decoration: underline;
}
.account-center .main{
    padding: 20px;
    background: rgba(0, 0, 0, 0) url("../images/bg-main-wrapper.png") repeat-x scroll 0 0;
    float: left;
    width: 75%;
}

.field{
    border: 1px solid #ddd;
    margin: 28px 0;
    padding: 22px 25px 12px 33px;
}
.field .legend{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: -33px 0 0 -10px;
    padding: 3px 10px;
    position: relative;
}
.form{
    margin-top: 10px;
}
.buttons-set {
    border-top: 1px solid #e4e4e4;
    clear: both;
    margin: 4em 0 0;
    padding: 8px 0 0;
    text-align: right;
}
.buttons-set .btn-success{
    float: left;
}
.buttons-set .btn-primary{
    float: right;
}

.welcome-msg {
    margin: 0 8em 1.5em 0;
}
.box-account {
    border: 1px solid #ddd;
    margin: 0 0 20px;
    padding: 15px;
}
.box-account .box-head {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
    text-align: right;
}
.box-account .box-head h2 {
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}
a {
    color: #aaa;
    text-decoration: none;
}
.data-table {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f2f2f2;
    width: 100%;
}
.data-table th, .data-table td {
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding: 10px;
    vertical-align: top;
}
.data-table th {
    font-weight: normal;
    padding: 15px 10px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.col2-set {
    position: relative;
    margin: 0 0 15px;
}
.box-title, .box-top {
    margin: 0 0 8px;
    padding: 0 0 2px;
    text-align: right;
}
.box-top{
    text-align: left;
}
.col2-set .col-1 {
    float: left;
    width: 48.5%;
}
.col2-set .col-2 {
    float: right;
    width: 48.5%;
}
.box-title h3, .dashboard .box-title h4 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
.box-info h4 {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-info .box-head{
    padding: 0 0 5px 0;
}
.page {
    list-style: outside none none;
    margin: 20px 0;
    padding-left: 0;
    text-align: left;
}
.page-title {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 25px;
    overflow: hidden;
    padding-bottom: 0;
    width: 100%;
}
.order-info-box {
    /*background: #fff url("../images/bkg_block-title.gif") repeat-x scroll 0 0;*/
    border: 1px solid #d0cbc1;
    margin: 0 0 15px;
    padding: 12px 15px;
}
.order-info-box h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.35;
    margin: 0 0 5px;
}
.order-items h2, .order-items h3, .table-caption {
    clear: none;
    color: #0a263c;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}
a.password{ margin-left: 10px; }
