.content h1{
    text-align: center;
}
.account-center .navigation{
    width: 20%;
    float: left;
    margin-right: 20px;
}
.nav-title{
    border: 1px solid #f0f0f0;
    background-color: #3c8dbc;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
}
.account-center .nav-contain{
    border: 1px solid #f0f0f0;
    border-top: none;
}
.account-center .nav-contain .nav{
    border-bottom: 1px solid #f0f0f0;
    padding: 15px;
}
.nav a{
    color: #555;
}
.nav strong{
    text-decoration: underline;
}
.account-center .main{
    padding: 20px;
    background: rgba(0, 0, 0, 0) url("../images/bg-main-wrapper.png") repeat-x scroll 0 0;
    float: left;
    width: 75%;
}

.field{
    border: 1px solid #ddd;
    margin: 28px 0;
    padding: 22px 25px 12px 33px;
}
.field .legend{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: -33px 0 0 -10px;
    padding: 3px 10px;
    position: relative;
}
.form{
    margin-top: 10px;
}
.buttons-set {
    border-top: 1px solid #e4e4e4;
    clear: both;
    margin: 4em 0 0;
    padding: 8px 0 0;
    text-align: right;
}
.buttons-set .btn-success{
    float: left;
}
.buttons-set .btn-primary{
    float: right;
}
